.main-content {
    margin: 50px 200px;
}

.sub-form {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#form-busy-times {
    margin-top: 5px;
}

.right-margin {
    margin-right: 10px;
}

.button-group {
    margin-top: 20px;
}
