{# This is modal for showing help information. #}
<div id="help-modal" class="uk-modal">
  <div class="uk-modal-dialog">
    <a class="uk-modal-close uk-close"></a>
    <div class="uk-modal-header"><h2>Help</h2></div>
    <div class="help-modal-text">
      Thanks for using Secretary! Currently, you will need your own instance of the platform as well as a valid Twilio account & number along with a Firebase account. To find out more detailed information, (literally) check out the code on <a href="https://www.github.com/ghostling/secretary">Github</a>. 
    </div>
  </div>
</div>
