<html>
  <head>
    <script src="static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="static/js/uikit.js"></script>
    <script src="static/js/components/autocomplete.js"></script>
    <script src="static/js/components/upload.js"></script>
    <script src="static/js/components/timepicker.js"></script>
    <script src="static/js/components/accordion.js"></script>

    <link rel="stylesheet" type="text/css" href="static/css/uikit.css"></link>
    <link rel="stylesheet" type="text/css" href="static/css/uikit.gradient.css"></link>
    <link rel="stylesheet" type="text/css" href="static/css/uikit.almost-flat.css"></link>
    <link rel="stylesheet" type="text/css" href="static/css/components/form-advanced.css"></link>
    <link rel="stylesheet" type="text/css" href="static/css/custom.css"></link>

    <title>Secretary</title>
  </head>
  <body>
    <nav class="uk-navbar">
      <a class="uk-navbar-brand" href="#"><strong>Secretary</strong></a>
      <div class="uk-navbar-flip uk-navbar-content uk-display-inline-block">
        <button class="uk-button uk-button-primary" data-uk-modal="{target: '#help-modal'}">Help</button>
        {% include 'help_modal.html' %}
      </div>
    </nav>
    <div class="main-content">
      <div class="uk-block uk-block-primary uk-contrast">
        <div class="uk-container">
          <div class="uk-flex uk-flex-top uk-flex-space-between">
            <h2>Number Settings</h2>
          </div>
          <form class="uk-form uk-form-horizontal">
            <div class="uk-form-row">
              <label class="uk-form-label" for="form-twilio-number">Secretary's Number</label>
              <div class="uk-form-controls">
                <input type="text" id="form-twilio-number"  value="{{twilioNumber}}" class="uk-form-large uk-form-width-large" placeholder="Enter your Twilio Number" disabled>
              </div>
            </div>
            <div class="uk-form-row">
              <label class="uk-form-label" for="form-real-number">Your Number</label>
              <div class="uk-form-controls">
                <input type="text" id="form-real-number" value="{{personalNumber}}" class="uk-form-large uk-form-width-large" placeholder="Enter your real number" disabled>
              </div>
            </div>
          </form>
        </div>
      </div>
      <hr>
      <div class="uk-block">
        <div class="uk-container">
          <div class="uk-flex uk-flex-top uk-flex-space-between">
            <h1>Caller Rules</h1>
            <button class="uk-button uk-button-success uk-button-large uk-flex-right" data-uk-modal="{target:'#create-rule-modal'}">+ Create</button>
            {% include 'create_rule_modal.html' %}
          </div>
          <table class="uk-table uk-table-striped">
            <thead class="uk-block-primary uk-contrast">
              <tr>
                <th>Caller Number</th>
                <th>Action</th>
                <th>Take Message</th>
                <th>Active</th>
              </tr>
            </thead>
            <tbody>
              {% for number in rules %}
              <tr>
                <td>
                  {{number}}
                  {% if number == "*" %}
                  (Everyone else)
                  {% endif %}
                </td>
                <td>
                  {% if rules[number].condition == "always" %}
                    {% if rules[number].forward %}
                      <strong>Always</strong> forward to your real number.
                    {% elif rules[number].response.type == "text" %}
                      <strong>Always</strong> reply with
                      "{{rules[number].response.data}}".
                    {% else %} {# audio #}
                      <strong>Always</strong> play this file:
                      <audio src="{{rules[number].response.data}}"></audio>
                    {% endif %}
                  {% else %} {# time rule #}
                    During these times:
                    <div class="time-list">
                      {% for inter in rules[number].busy_intervals %}
                        {{inter.label}}: {{inter.start}}-{{inter.end}}<br>
                      {% endfor %}
                    </div>
                    {% if rules[number].response %}
                      {% if rules[number].response.type == "text" %}
                        Reply with "{{rules[number].response.data}}".
                        {% else %} {# audio #}
                        Play this file:
                        <audio src="{{rules[number].response.data}}"></audio>
                      {% endif %}
                    {% endif %}
                  {% endif %}
                </td>
                <td>
                  {% if rules[number].take_message %}
                    Yes
                  {% else %}
                    No
                  {% endif %}
                </td>
                <td>
                  {% if rules[number].is_active %}
                  {% if number == "*" %}
                    <input type="checkbox" class="uk-checkbox rule-is-active" checked disabled>
                    {% else %}
                    <input type="checkbox" class="uk-checkbox rule-is-active" data-number="{{number}}" checked>
                    {% endif %}
                    {% else %}
                    <input type="checkbox" class="uk-checkbox rule-is-active" data-number="{{number}}">
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
    <script src="static/js/custom.js"></script>
</html>
